<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<a class="nav-link" href="/generateresume">Skip to resume</a>

<h1>Enter your Educational information here.</h1>
<hr>
<!--enter things here-->
<form action="#"
      th:action="@{/addeducation}"
      th:object="${anEducation}"
      method="post">
    <ul>
        School: <input th:type="text" th:field="*{school}"/> <br />
        <span th:if="${#fields.hasErrors('school')}"
              th:errors="*{school}"></span><br />
        Degree: <input th:type="text" th:field="*{degree}"/><br />
        <span th:if="${#fields.hasErrors('degree')}"
              th:errors="*{degree}"></span><br />
        Graduation Date(MM/YYYY): <input th:type="text" th:field="*{gradyear}"/><br />
        <span th:if="${#fields.hasErrors('gradyear')}" th:error="*{gradyear}">This field has to be in desired format
              </span><br/>

    </ul>

    <input type="submit" value="Add Education"/> <input type="reset" value="Clear Form"/>

</form>

</body>
</html>