<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width">
    <title>Resume Building App</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <title>Title</title>
</head>
<body>
<header>
    <div class="container" align="center">
        <div id="branding">
            <h1><span class="highlight">Resume Building App</span></h1>
        </div>
        <nav>
            <ul>
                <li class="current"><a href="index.html">Home</a></li>
                <li><a href="/generateresume">Skip to resume</a></li>
            </ul>
        </nav>
    </div>
</header>

<section id="showcase">
    <div class="container"></div>
    <h3>Add your work experience</h3>
    <hr>
    <!--enter things here-->
    <form action="#"
          th:action="@{/addjob}"
          th:object="${aJob}"
          method="post">
        <div>
            Employer: <input required th:type="text" th:field="*{employer}"/> <br />
            <span th:if="${#fields.hasErrors('employer')}"
                  th:errors="*{employer}"></span><br />
            Position: <input required th:type="text" th:field="*{position}"/><br />
            <span th:if="${#fields.hasErrors('position')}"
                  th:errors="*{position}"></span><br />

            Start Date(MM/YYYY): <input required type="date" th:field="*{startDate}"/><br/>
            <span th:if="${#fields.hasErrors('startDate')}"th:error="*{startDate}">
                <small class="form-error" data-errors-when="valueMissing">Error.</small>Date format error</span><br/>
            End Date(MM/YYYY)(Write 'Cont' if still working): <input required type="date" th:field="*{endDate}"/> <br />
            <span th:if="${#fields.hasErrors('endDate')}"th:errors="*{endDate}">Date format error</span><br />
            Duty 1: <input required th:type="text" th:field="*{duty1}"/><br />
            <span th:if="${#fields.hasErrors('duty1')}"
                  th:errors="*{duty1}"></span><br />
            Duty 2: <input required th:type="text" th:field="*{duty2}"/><br />
            <span th:if="${#fields.hasErrors('duty2')}"
                  th:errors="*{duty2}"></span><br /></label>
            <input  required type="submit" value="Save"/> <input type="reset" value="Clear Form"/>

        </div>

    </form>

</section>
<footer>
    <p>Resume Buildiing App, Copyright &copy; 2017</p>
</footer>


</body>
</html>