<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Resume Building App</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <style type="text/css";>
        a{
            color: gold;
        }
    </style>

</head>
<body>
<header>
    <div class="container" align="center">
        <div id="branding">
            <h1><span class="highlight">Resume Building App</span></h1>
        </div>
        <nav>
            <ul>
                <li class="current"><a href="/">Home</a></li>
                <li><a href="/generateresume">Skip to resume</a></li>
            </ul>
        </nav>
    </div>
</header>

<section id="showcase">
    <div class="container"></div>
    <h2 class="panel-title">Confirmation:</h2>
    <hr>

    <!--enter things here-->
    <div class="panel panel-default"></div>
    <div class="panel-heading"></div>


        <div class="panel-body">
            <p th:inline="text">Skill: [[${aSkill.skill}]].</p>
            <p th:inline="text">Rating: [[${aSkill.rating}]].</p>
            <!--<a th:href="@{/addjob/delete/{id}(id=${aSkill.id})}">Delete</a>-->
            <!--<a th:href="@{/addjob/update/{id}(id=${aSkill.id})}">Update</a><br>-->
            <a href="/addskill">Add another skill</a><h5>OR</h5>
            <a href="/generateresume">See the profile now!</a>

        </div>
    <!--<h4><a href="/addskill">Add another skill</a></h4>-->
    <!--<h4><a href="/generateresume">Lets see the profile now!</a></h4>-->
</section>
<footer th:align="center" th:replace="fragment :: footerpart"/>



</body>
</html>