<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>Resume Buildiing App</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <div class="container" align="center">
        <div id="branding">
            <h1><span class="highlight" th:align="center">Resume Building App</span></h1>
        </div>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="generateresume">Skip to resume</a></li>
            </ul>
        </nav>
    </div>
</header>
<section id="showcase">
    <div class="container"></div>
<h2>Let's confirm  your educational information</h2>
<div class="panel panel-default">
    <!--<div class="panel-heading">-->
        <!--<h3 class="panel-title">Confirmation:</h3>-->
    <!--</div>-->
    <div class="panel-body">
        <!--thapeko-->
        <tr th:each="anEducation : ${abc}"/>
        <p th:inline="text">School: [[${anEducation.school}]].</p>
        <p th:inline="text">Degree: [[${anEducation.degree}]].</p>
        <p th:inline="text">Graduated: [[${anEducation.gradyear}]].</p>
        <!--<a th:href="@{/addeducation/delete/{id}(id=${anEducation.id})}">Delete</a>-->
        <a th:href="@{/confirmeducation./update/{id}(id=${anEducation.id})}">Update</a><br>
        <a class="btn btn-primary btn-xl" href="/addeducation">Add more education</a><p>OR</p>
        <a class="btn btn-primary btn-xl" href="/addjob">Add work experience!</a>
        <!--<input type="submit" value="Save"/><input type="reset" value="Clear Form"/>-->
    </div>
</div>
<!--<a class="btn btn-primary btn-xl" href="/addeducation">Add another educational infos</a>-->
<!--<a class="btn btn-primary btn-xl" href="/addjob">Add work experience!</a>-->
</section>
<footer>
    <p>Resume Building App, Ratna &copy; 2017</p>
</footer>
</body>
</html>
