<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width">
    <title>Resume Building App</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <style type="text/css";>
        a{
            color: gold;
        }
    </style>
    <title>Resume Building App</title>
</head>
<body>
<header>
    <div class="container" align="center">
        <div id="branding">
            <h1><span class="highlight">Resume Building App</span></h1>
        </div>
        <nav>
            <ul>
                <li class="current"><a href="index.html">Home</a></li>
                <li><a href="/generateresume">Skip to resume</a></li>
            </ul>
        </nav>
    </div>
</header>

<section id="showcase">
    <h3>On the base of your information here is what we get:</h3>
    <hr>

    <!--enter things here-->
    <tr th:each="ajob : ${abc}"/>
    <!--<p th:inline="text">[[${newPerson.name}]]On the base of your information here is what we get:</p>-->
    <!--<p>On the base of your information here is what we get:</p>-->

    <p th:inline="text">Employer: [[${aJob.employer}]].</p>
    <p th:inline="text">Position: [[${aJob.position}]].</p>
    <p th:inline="text">Start Date: [[${aJob.startDate}]].</p>
    <p th:inline="text">End Date: [[${aJob.endDate}]].</p>
    <p th:inline="text">Duty 1: [[${aJob.duty1}]].</p>
    <p th:inline="text">Duty 2: [[${aJob.duty2}]].</p>
    <a th:href="@{/addjob/delete/{id}(id=${aJob.id})}">Delete</a>
    <a th:href="@{/addjob/update/{id}(id=${aJob.id})}">Update</a><br>
    <a class="btn btn-primary btn-xl " href="/addjob">Add more job!</a>
    <h5>OR</h5>
    <a class="btn btn-primary btn-xl" href="/addskill">Add  skills!</a>

    </div>
    </div>
    </header>


</section>
<footer>
    <p>Resume Buildiing App, Copyright &copy; 2017</p>
</footer>
</body>
</html>