<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<a class="nav-link" href="/generateresume">Skip to resume</a>
<h1 id="homeHeading">Welcome to the resume builder</h1>
<hr>

<!--enter things here-->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Confirmation:</h3>
    </div>
    <div class="panel-body">
        <p th:inline="text">Skill: [[${aSkill.skill}]].</p>
        <p th:inline="text">Rating: [[${aSkill.rating}]].</p>




    </div>
</div>
<h2><a href="/addskill">Add another skill</a></h2>
<br />
<h1><a href="/generateresume">Lets build up your resume</a></h1>


</div>

</body>
</html>