<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<a class="nav-link" href="/generateresume">Skip to resume</a>
<h1>Let's confirm this is you [[${newPerson.name}]]:</h1>
<hr>

<!--enter things here-->

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Confirmation:</h3>
    </div>
    <div class="panel-body">
        <p th:inline="text">Name: [[${newPerson.name}]].</p>
        <p th:inline="text">Email: [[${newPerson.email}]].</p>
    </div>
</div>

<!--trying to make a div that has a background so it highlights the confirmation-->
<!--<div class="wrapper">-->
    <!--<div class="content">-->
        <!--<p th:inline="text">Name: [[${newPerson.name}]].</p>-->
        <!--<p th:inline="text">Email: [[${newPerson.email}]].</p>-->
    <!--</div>-->
    <!--<div class="background">-->
        <!--<p></p>-->
    <!--</div>-->
<!--</div>-->


<a class="btn btn-primary btn-xl" href="/addeducation">Right,that's me!</a>


</body>
</html>