<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width">
    <title>Resume Building App</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <style type="text/css";>
        a{
            color: yellow;
        }
    </style>

    <title th:inline="text"> [[${myPerson.name}]]'s New Resume</title>
</head>
<body>

<header>
    <div class="container">
        <div id="branding">
            <h1><span class="highlight">Resume Building App</span></h1>
        </div>
        <nav>
            <ul>
                <li class="current"><a href="/">Home</a></li>
                <li><a href="/generateresume">Skip to resume</a></li>
                <li><a th:href="@{/displayall/{id} (id=${myPerson.id})}">view Resume</a></li>
            </ul>
        </nav>
    </div>
</header>
<section id="showcase">
    <div class="container" ></div>

<h3>Resume App presents</h3>
<h3 th:inline="text">[[${myPerson.name}]]</h3>
<h4 th:inline="text">[[${myPerson.email}]]</h4>

<!--<a th:href="@{/index/{id} (id=${myPerson.id})}">Update</a>-->
<!--<a th:href="@{/delete/{id} (id=${myPerson.id})}">Delete</a>-->

<h3>Education:</h3>
<div th:each="i:${myEducation}">
    <p th:inline="text"><strong>[[${i.degree}]]</strong>, </p>
    <p th:inline="text">[[${i.school}]], [[${i.gradyear}]] </p>
</div>
    <p><a href="/addeducation">Add more education</a></p>
<hr>
<h3>Work Experience:</h3>
<div th:each="i:${myjob}">
    <p th:inline="text"><strong>[[${i.position}]]</strong> </p>
    <p th:inline="text">[[${i.employer}]], [[${i.startDate}]] - [[${i.endDate}]]</p>
    <p th:inline="text"> -Duty 1: [[${i.duty1}]]</p>
    <p th:inline="text"> -Duty 2: [[${i.duty2}]]</p>
</div>
<p><a href="/addjob">Add another job</a></p>
    <!--<a th:href="@{/addjob/update/{id}(id=${aJob.id})}">Update</a><br>-->
<hr>
<br>
<h3>Skills:</h3>
<div th:each="i:${mySkills}">
    <p th:inline="text">Skill: [[${i.skill}]]; [[${i.rating}]]</p>
</div>
<p><a href="/addskill">Add more skills</a></p>
    <!--<a th:href="@{/addskill/update/{id}(id=${aSkill.id})}">Update</a><br>-->
</section>

</body>
</html>
