<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment::headingpart">
    <!--<meta charset="UTF-8"/>-->
    <!--<meta name="viewport" content="width=device-width">-->
    <!--<title>Resume Building App</title>-->
    <!--<link rel="stylesheet" href="/css/style.css"/>-->
</head>
<body>
<header th:fragment="headerpart">
    <div class="container" align="center">
        <div id="branding">
            <h1><span class="highlight">Resume Building App</span></h1>
        </div>
    </div>
</header>

<section id="showcase">
    <div class="container">
        <h2 id="homeHeading">Welcome to the Resume Builder App</h2>
    </div>
<hr>
    <div class="text-center mt-10">
        <!--<button class="btn btn-primary btn-lg"><a href="/allPersons" style="text-decoration: none; color:white;">see the list of all users</a></button><br />-->
        <br />
        <button class="btn btn-success btn-lg"><a href="/enterPerson" style="text-decoration: none; color:white;">start your resume</a></button>
    </div>
</section>
<!--enter things here-->

<footer align="center" th:replace="fragment :: footerpart"/>

</body>
</html>